# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
env.bak/
*.log

# -----------------------------
# Jupyter / Notebook
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# IDE / OS
# -----------------------------
.DS_Store
.vscode/
.idea/
*.swp

# -----------------------------
# Data / Experiments
# -----------------------------
data/
datasets/
outputs/
runs/
checkpoints/
experiments/
artifacts/
log/
ksc/
out/
thresholds/
wandb/
tensorboard/
lightning_logs/

# -----------------------------
# aihubshell binary
# -----------------------------
aihubshell

# -----------------------------
# Environment / Config
# -----------------------------
.env
.env.*
*.yaml~
*.json~
*.lock
ksc/

# -----------------------------
# DVC / LFS / Cache
# -----------------------------
.dvc/
*.dvc
*.cache/
*.dat
*.pt
*.pth
*.bin

# -----------------------------
# Build / Distribution
# -----------------------------
build/
dist/
*.manifest
*.spec

# -----------------------------
# Temporary Files
# -----------------------------
tmp/
temp/
__trash__/
